
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.container {
  width: 80%;
  max-width: 600px;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.btn-large {
  width: 100%;
  margin-bottom: 10px;
}
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
}
.switch-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
