<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download</title>
  <link rel="icon" type="image/x-icon" href="static/Favicons/favicon_download_cyan.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="static/styles.css">
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      transition: background-color 1s, color 1s;
    }

    .container {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  </style>

</head>

<body class="light-mode">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="static/templates/logic.js"></script>

  <div class="container">
    <div class="switch">
      <label>
        Light
        <input type="checkbox" id="mode-switch">
        <span class="lever"></span>
        Dark
      </label>
    </div>
    <h1 class="header">Download Videos</h1>
    <div class="input-field">
      <input id="text" type="text" class="validate">
      <label for="text">Video URL</label>
    </div>
    <button class="btn waves-effect waves-light" type="button" id="submit-button">Download
      <i class="material-icons right"></i>
    </button>

    <a href="http://127.0.0.1:8000/" class="btn waves-effect waves-light">Back to Homepage</a>
  </div>

  <script>
    window.addEventListener("blur", () => {
      document.title = "Come Back 🥺"
    })
    window.addEventListener("focus", () => {
      document.title = "Download"
    })
    window.onload = () => {
      let cookieValue = getCookie(lightDarkModeCookieName);
      checkboxSwitchLever(document, cookieValue == darkMode);
    }

    document.getElementById('mode-switch').addEventListener('change', function () {
      let cookieValue = getCookie(lightDarkModeCookieName);
      checkboxSwitchLever(document, cookieValue != darkMode);
    });

    async function startDownload() {
      document.getElementById('progress-bar').style.display = 'block';
      const response = await fetch('http://127.0.0.1:8000/download', {
        method: 'POST',
      });
      if (response.ok) {
        checkProgress();
      }
    }

    async function checkProgress() {
      const response = await fetch('http://127.0.0.1:8000/progress');
      const data = await response.json();
      const progressBar = document.getElementById('progress');
      progressBar.style.width = `${data.progress}%`;
      if (data.progress < 100) {
        setTimeout(checkProgress, 1000);
      } else {
        alert('Download complete');
      }
    }

    document.getElementById('submit-button').addEventListener('click', async function () {
      const textValue = document.getElementById('text').value;

      const response = await fetch('http://127.0.0.1:8000/download', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ "url": textValue })
      });

      const result = await response.json();
      alert(`Server response: ${result.message}`);
    });
  </script>
</body>

</html>